/*Configuracion de toda la pagina*/
body{
    /*Color de fondo*/
    background-color: #f5f6fa;
}

/*Menu lateral*/
.sidebar{
    /*Color*/
    background-color: #3A7307;
    /*Ancho*/
    width: 250px;
    /*Altura minima de toda la pantalla*/
    /* El 100 es el procentaje de la pantalla vertical*/
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

/*Links del menu lateral*/
.nav-link{
    /*Espacio inferior entre links pixeles*/
    margin-bottom: 10px;
    border-radius: 8px;
}

/*Efecto al pasar el mouse sobre los links*/
.nav-link:hover{
    /*Cambio de color al pasar el mouse*/
    background-color: #d7361a;
}

/*Tarjetas de informacion*/
.card{
    /*Degradado*/
    background: linear-gradient(
        170deg,
        #3A7307,
        #5E9C3E
    );

    /*Texto blanco*/
    color:white;

    /*Sin borde*/
    border: none;

    /*Bordes redondeados*/
    border-radius: 30px;

    /*Sombras*/
    box-shadow: 0px 4px 15px rgba(0,0,0,0.2);

    /*Transicion suave*/
    transition: 1s;
}

/*Efecto hover*/
.card:hover{
    /* Levanta ligeramente*/
    transform: translateY(-10px);
    /* Sombra mas fuerte*/
    box-shadow: 0px 8px 20px rgba(0,0,0,0.3);
    cursor: pointer;
}
/*Logo*/
.logo{
    /*Ancho imagen*/
    width: 140px;

    /*Bordes redondos*/
    border-radius: 20px;

    /*Espacio abajo*/
    margin-bottom: 20px;

    /*Espacio izquierda */
    margin-left: 5px;

    /*Fondo*/
    padding: 10px;
    background-color: rgba(255,255,255,0.1);
}
